.git
README.md
**/.gitignore
Thumbs.db
**/.DS_Store
.idea
**/*.iml
**/*.ipr
**/*.iws
.project
.settings
.classpath
lib/__pycache__
*.pyc
venv
Dockerfile
*.example
.dockerignore
Makefile
mypy.ini
packaging
.flake8
